<!DOCTYPE html>
<html lang="ar">
<head>
	<title></title>
	<meta charset="utf-8">
</head>
<body style="font-family:Century Gothic;margin:0 auto" align="center">
<div style="width:600px;margin:0 auto;background-color: rgb(253, 214, 36);" align="center">
	<div style="width:600px;margin:0 auto;background-color: rgb(253, 214, 36);" align="center">
		<div style="margin-bottom:20px;">
			<a href="https://ar-sa.wadi.com/?utm_source=newsletter&utm_campaign=CouponReminder&utm_medium=KSA-Arabic&utm_term=top-banner">
				<img src="https://gallery.mailchimp.com/9f3da191e9bf215714866c47a/images/3b618139-c6fb-4048-9549-f3e2c2c30216.png" width="100%" border="0">
			</a>
		</div>
	</div> 
	<div style="width:600px;margin:0 auto;" align="center">
		<div style="width:80%;margin:0 auto 10px;background:#fff;padding:10px;clear:both;overflow:auto;border:2px solid #19bcb0;border-radius:10px;">
			<div style="width:35%;float:left;background:#19bcb0;padding: 12px 0px;border-radius:5px;">
				<p style="color:#fff;text-align:center;font-size: 70%;font-weight: 700;margin:0;letter-spacing:1px;">*|100CODE415|*</p>
			</div>
			<div style="width:65%;float:left;">
				<p style="color:#000;text-align:center;font-size: 18px;font-weight: 300;margin:0;letter-spacing:0px;">
					<img src="https://gallery.mailchimp.com/9f3da191e9bf215714866c47a/images/e53915a6-22d0-4520-bfcc-446837c25bab.png" width="92%" border="0">
				</p>
			</div>
		</div>
		<div style="width:80%;margin:0 auto 10px;background:#fff;padding:10px;clear:both;overflow:auto;border:2px solid #19bcb0;border-radius:10px;">
			<div style="width:35%;float:left;background:#19bcb0;padding: 12px 0px;border-radius:5px;">
				<p style="color:#fff;text-align:center;font-size: 70%;font-weight: 700;margin:0;letter-spacing:1px;">*|200CODE415|*</p>
			</div>
			<div style="width:65%;float:left;">
				<p style="color:#000;text-align:center;font-size: 18px;font-weight: 300;margin:0;letter-spacing:0px;">
					<img src="https://gallery.mailchimp.com/9f3da191e9bf215714866c47a/images/d41f2990-8024-4b5d-8f55-21ffa5a78683.png" width="92%" border="0">
				</p>
			</div>
		</div>
		<div style="width:85%;margin:0 auto 0px;clear:both;overflow:auto;">
			<p style="text-align:center;margin:10px 0 0;font-size: 20px;">* قسيمة صالحة حتى 31 مايو 2015<br></p>
		</div>
		<div style="width:80%;margin:0 auto;clear:both;overflow:auto;">
			<p style="text-align:center;font-size:20px;">متجر وادي سيكون أكبر وجهة للتسوق أون لاين في الشرق الأوسط مع تشكيلات واسعة من الإلكترونيات، والأزياء والاكسسوارات والمنتجات المنزلية بأسعار لايمكن منافستها.
إلى جانب خدمة العملاء المذهلة!</p>
           <p><a href="https://ar-sa.wadi.com/?utm_source=newsletter&utm_campaign=CouponReminder&utm_medium=KSA-Arabic&utm_term=visit-now-button" target="_blank"><img src="https://gallery.mailchimp.com/9f3da191e9bf215714866c47a/images/ff6f8ef4-2535-462f-a93b-a588963d3f20.png"></a></p>
           
		</div>
        <div style="width:100%; margin:0 auto ; clear:both; overflow:auto">
        <p><a href="https://ar-sa.wadi.com/?utm_source=newsletter&utm_campaign=CouponReminder&utm_medium=KSA-Arabic&utm_term=visit-now-button" target="_blank"><img src="https://gallery.mailchimp.com/9f3da191e9bf215714866c47a/images/4218f598-2a9d-4024-b97a-e25dcba89a7e.png"></a></p>
			
            <p><a href="https://ar-sa.wadi.com/?utm_source=newsletter&utm_campaign=CouponReminder&utm_medium=KSA-Arabic&utm_term=visit-now-button" target="_blank"><img src="https://gallery.mailchimp.com/9f3da191e9bf215714866c47a/images/ff6f8ef4-2535-462f-a93b-a588963d3f20.png"></a></p>
        
        </div>
		<div style="width:85%;margin:0 auto 0px;clear:both;overflow:auto;">
			<p style="margin:0;">
				<img src="https://gallery.mailchimp.com/9f3da191e9bf215714866c47a/images/d20e5ea8-1e8c-47df-98f8-9c6eb2de038f.png" width="100%">
			</p>
			<div style="width:90%;margin:0 auto;clear:both;overflow:auto;padding:5px 0 0;">
				<div style="width:38%;float:left;text-align:center;padding-top: 5px;">
					<b style="font-size:20px;">تواصل معنا</b><br>
					<a href="https://www.facebook.com/hello.wadi" style="text-decoration:none;">
						<img src="https://gallery.mailchimp.com/9f3da191e9bf215714866c47a/images/3829b120-b652-4c78-a6d9-73e07a304794.png" border="0" style="padding-top: 5px;" width="20px" height="19px">
					</a>
					<a href="https://twitter.com/hello_wadi" style="text-decoration:none;">
						<img src="https://gallery.mailchimp.com/9f3da191e9bf215714866c47a/images/0cfb4fe0-e9fc-4282-8cd2-539eefc36c12.png" border="0" style="padding-top: 5px;" width="20px" height="19px">
					</a>
					<a href="http://instagram.com/hello_wadi/" style="text-decoration:none;">
						<img src="https://gallery.mailchimp.com/9f3da191e9bf215714866c47a/images/998fe029-6f81-48dd-94a8-3da335b77cac.png" border="0" style="padding-top: 5px;" width="20px" height="19px">
					</a>
				</div>
				<div style="width:5%;float:left;text-align:center;padding-top:7px;">
					<img src="https://gallery.mailchimp.com/9f3da191e9bf215714866c47a/images/e3e16eab-ac85-42ea-a424-587f9805e95a.png">
				</div>
				<div style="width:56%;float:left;text-align:center;font-size:13px;">
					<b>إتصل بنا</b><br>
					<img src="https://gallery.mailchimp.com/9f3da191e9bf215714866c47a/images/1bfa892e-8203-4c63-84a7-1b4cf3b16e50.png" border="0"> service@wadi.com
					<img src="https://gallery.mailchimp.com/9f3da191e9bf215714866c47a/images/6b3eafd4-9b99-4512-82c1-f9bcca2f4c36.png" border="0"> +971800449234<br>
					<b>أوقات العمل</b>
8 صباحا إلى 8 مساءا ( بتوقيت السعودية)
السبت إلى الخميس
<br>
					
				</div>
				
			</div>
			<p style="margin:0;">
				<img src="https://gallery.mailchimp.com/9f3da191e9bf215714866c47a/images/d20e5ea8-1e8c-47df-98f8-9c6eb2de038f.png" width="100%">
			</p>
		</div>
		<div></div>
	<div style="width:85%;margin:0 auto;clear:both;overflow:auto;padding-bottom:20px;">
		<p style="text-align:center;font-size:16px;color:#000;">
			<b style="color:#19bcb0;text-transform:uppercase;">الشروط والأحكام لإستخدام القسيمة</b><br>
1. يمكنك استبدال قسيمة مرة واحدة فقط. 2. يمكنك استخدام قسيمة واحدة فقط لكل طلبية. 3. لا يمكن دمج قسائم مع رمز قسيمة أخرى. 4. قسائم ستكون صالحة حتى 13 مايو 2015.
		</p>
	


<p style="margin:0;">
				<img src="https://gallery.mailchimp.com/9f3da191e9bf215714866c47a/images/d20e5ea8-1e8c-47df-98f8-9c6eb2de038f.png" width="100%">
			</p>
		<p style="text-align:center;font-size:13px;color:#000;">
		<em>Copyright &copy; 2015 www.wadi.com all rights reserved.</em><br>
		<br>
<strong>Our mailing address is:</strong><br>
Wadi General Trading LLC, PO Box - 111169, Dubai, United Arab Emirates  <br>
<br>
<a class="utilityLink" href="*|UNSUB|*">unsubscribe</a>
</p>
	
	</div>
</div>
</div></body>
</html>